button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 0.75rem 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: inherit;
  line-height: inherit;
  border-radius: 0.25rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover {
    background-color: white;
    border-color: white;
    color: black;
  }

  &:focus {
    outline: 0;
  }
}
