.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.9);
  animation: zoom-in 0.2s ease-out both;

  footer {
    text-align: center;
    margin-top: 2rem;
  }
}

.social {
  font-size: 2rem;
  margin-top: 4rem;

  a {
    padding: 0 0.25rem;
  }
}
