$block_size: 23px;
$block_inset: 3px;

$bg_color_1: fade-out(#ff84cb, 0.08);
$bg_color_2: fade-out(#ffc350, 0.02);

$playfield_color: rgba(0, 0, 0, 0.8);

@import "./animations";
@import "./buttons";
@import "./game";
@import "./modal";
@import "./nav";
@import "./social";
@import "./type";

* {
  touch-callout: none;
  user-select: none;
}

body {
  color: white;
  background-image: linear-gradient(to bottom, $bg_color_1, $bg_color_2), url("../images/pattern.png");
  align-items: center;
  display: flex;
  justify-content: center;
}

html, body {
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  width: 600px;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

.row {
  display: flex;
}

.align-self-center {
  align-self: center !important;
}
