$block_size: 23px;
$block_inset: 3px;

$bg_color_1: fade-out(#ff84cb, .08);
$bg_color_2: fade-out(#ffc350, .02);

$playfield_color: rgba(0, 0, 0, .75);

@font-face {
  font-family: xenara;
  font-weight: normal;
  src: url("./fonts/xenara_rg-webfont.eot");
  src: url("./fonts/xenara_rg-webfont.eot?#iefix") format("embedded-opentype"),
       url("./fonts/xenara_rg-webfont.woff") format("woff"),
       url("./fonts/xenara_rg-webfont.ttf") format("truetype"),
       url("./fonts/xenara_rg-webfont.svg#XenaraRegular") format("svg");
}

@font-face {
  font-family: xenara;
  font-weight: bold;
  src: url("./fonts/xenara_bd-webfont.eot");
  src: url("./fonts/xenara_bd-webfont.eot?#iefix") format("embedded-opentype"),
       url("./fonts/xenara_bd-webfont.woff") format("woff"),
       url("./fonts/xenara_bd-webfont.ttf") format("truetype"),
       url("./fonts/xenara_bd-webfont.svg#XenaraBold") format("svg");
}

@keyframes puff {
	0%   { transform: scale(0, 0); opacity: 0; }
	50%  { opacity: 1; }
	100% { transform: scale(1.2, 1.2); opacity: 0; }
}

@keyframes zoom-in {
	0%   { transform: scale(0, 0); opacity: 0; }
	50%  { transform: scale(1, 1); }
	100% { opacity: 1; }
}

@mixin block($color) {
  background-image: linear-gradient(to bottom left, lighten($color, 15%), darken($color, 15%));

  border-top-color: lighten($color, 20%);
  border-left-color: darken($color, 10%);
  border-bottom-color: darken($color, 20%);
  border-right-color: darken($color, 10%);
}

@mixin blocks {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    position: absolute;
    border-style: solid;
    border-width: $block_inset;
    box-sizing: border-box;
    width: $block_size;
    height: $block_size;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: .5rem;

  dt {
    flex: 0 0 25%;
    max-width: 25%;
  }

  dd {
    flex: 0 0 75%;
    margin-bottom: .5rem;
    margin-left: 0;
    max-width: 75%;
  }
}

html, body {
  height: 100%;
}

html {
  color: white;
  font-family: xenara, monospace;
  font-size: 16px;
  letter-spacing: 2px;
}

body {
  align-items: center;
  background-image: linear-gradient(to bottom, $bg_color_1, $bg_color_2), url("./images/pattern.png");
  display: flex;
  justify-content: center;
  line-height: 1.5;
}

button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: inherit;
  line-height: 1.5;
  border-radius: .25rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

  &:hover {
    background-color: white;
    border-color: white;
    color: black;
  }

  &:focus {
    outline: 0;
  }
}

.cyan   { @include block(#00f0f0); }
.blue   { @include block(#0000f0); }
.orange { @include block(#f0a000); }
.yellow { @include block(#f0f000); }
.green  { @include block(#00f000); }
.purple { @include block(#a000f0); }
.red    { @include block(#f00000); }

.center {
  text-align: center;
}

.container {
  display: flex;
}

.modal {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 1rem;
  overflow-y: auto;
  background: rgba(0, 0, 0, .9);
  animation: zoom-in .2s ease-out both;
}

.game {
  display: flex;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  text-transform: uppercase;
  text-align: center;

  h1 {
    font-size: 5rem;
    font-weight: normal;
  }

  nav a {
    color: inherit;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  aside {
    width: 150px;

    &.left {
      padding-right: 20px;
      text-align: right;
    }

    &.right {
      padding-left: 20px;
      text-align: left;
    }
  }

  .panel {
    overflow: hidden;
    position: relative;
    background: $playfield_color;
    border: 0.25rem solid #979797;
    border-radius: 8px;
    height: 100px;
    margin-bottom: 4rem;
    padding: 1rem 0;
    text-align: center;

    .tetromino {
      bottom: 30px;
      left: 35 + $block_size;

      &.shape-o, &.shape-i { left: 35 + .5 * $block_size; }
    }
  }

  .progress {
    h6 {
      margin-bottom: 0;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .tetrion {
    overflow: hidden;
    position: relative;
    border: 0.25rem solid #979797;
    border-radius: 8px;
    box-sizing: content-box;
    width: 230px;
    height: 460px;
  }

  .playfield {
    @include blocks;
    background: $playfield_color;
  }

  .tetromino {
    @include blocks;
  }

  .ghostPiece {
    opacity: .25;
  }

  .message {
    position: absolute;
    font-size: 2.5rem;
    animation: puff .9s ease-out .1s both;
    top: 0; left: 0; bottom: 0; right: 0;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
