$block_size:  23px;
$block_inset: 3px;

@font-face {
  font-family: xenara;
  font-weight: normal;
  src: url("./fonts/xenara_rg-webfont.eot");
  src: url("./fonts/xenara_rg-webfont.eot?#iefix") format("embedded-opentype"),
       url("./fonts/xenara_rg-webfont.woff") format("woff"),
       url("./fonts/xenara_rg-webfont.ttf") format("truetype"),
       url("./fonts/xenara_rg-webfont.svg#XenaraRegular") format("svg");
}

@font-face {
  font-family: xenara;
  font-weight: bold;
  src: url("./fonts/xenara_bd-webfont.eot");
  src: url("./fonts/xenara_bd-webfont.eot?#iefix") format("embedded-opentype"),
       url("./fonts/xenara_bd-webfont.woff") format("woff"),
       url("./fonts/xenara_bd-webfont.ttf") format("truetype"),
       url("./fonts/xenara_bd-webfont.svg#XenaraBold") format("svg");
}

.xenara {
  font-family: xenara, monospace;
}

@mixin block($color) {
  background-image: linear-gradient(to bottom left, lighten($color, 15%), darken($color, 15%));

  border-top-color: lighten($color, 20%);
  border-left-color: darken($color, 10%);
  border-bottom-color: darken($color, 20%);
  border-right-color: darken($color, 10%);
}

.cyan   { @include block(#00f0f0); }
.blue   { @include block(#0000f0); }
.orange { @include block(#f0a000); }
.yellow { @include block(#f0f000); }
.green  { @include block(#00f000); }
.purple { @include block(#a000f0); }
.red    { @include block(#f00000); }

.game {
  position: relative;

  header {
    text-transform: uppercase;
  }

  .tetrion {
    overflow: hidden;
    position: relative;
    width: 230px;
    height: 460px;

    ul {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        position: absolute;
        border-style: solid;
        border-width: $block_inset;
        width: $block_size;
        height: $block_size;
      }
    }

    .playfield {
      background: black;
    }

    .fallingPiece {
    }

    .ghostPiece {
      opacity: 0.25;
    }
  }
}
